<%# <% <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <i class="fas fa-gem"></i> Roflex Ltd.
  </div>
</div> %>
<div class = "footer">
  <footer class="footer">
    <div class="container py-5">
      <div class="row py-4">

          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4 text-muted">Shop</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Products</a></li>
              <li class="mb-2"><a href="#" class="text-muted">rentals</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Our Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4 text-muted">Company</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>
              <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 mt-5">
            <p class="font-italic text-muted align-text-bottom fs-5">Le site pour flex en soirée <i class="fas fa-gem"></i></p>
          </div>

          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4 text-muted border-bottom border-light">Newsletter</h6>
            <p class="text-muted mb-4">Toujours disponible pour vous proposez une actualités débordante de créativité </p>
            <div class="p-1 rounded border">
              <div class="input-group">
                <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </footer>
</div>
