<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.vintagewinders.co.uk/wp-content/uploads/2017/04/vintage-winders-rolex-banner.jpg);">
  <div class="container">
    <h1>Rent beautiful watches and jewelry</h1>
    <p>The luxury you've always deserved.</p>
    <%= link_to("See products", offers_path, class:"btn btn-flat") %>
  </div>
</div>
<div class="container">
  <h1>Welcome to Roflex</h1>
</div>
