<h1>Offers#show</h1>
<p>Find me in app/views/offers/show.html.erb</p>

<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1><%= @offer.name %></h1>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row">Price</th>
          <td><%= @offer.price %></td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td><%= @offer.description %></td>
        </tr>
        <tr>
          <th scope="row">Availabilitity</th>
          <td><%= @offer.availabilitity %></td>
        </tr>
      </tbody>
    </table>
    </h1>
  </div>
</div>
</div>
