@import "colors";

.banner {
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: $primarycolor;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: 400;
}

.banner p {
  font-size: 20px;
  color: $primarycolor;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.banner-child {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-child h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: 400;
}

.banner-child p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
