@import "colors";

.card-offer {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-decoration: none;
}

.card-offer > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-offer p {
  font-size: 12px;
  margin: 0;
}

.card-offer .card-offer-name {
  font-size: 16px;
  font-weight: bold;
  color : $primarycolor;
}

.card-offer .card-offer-pricing {
  font-weight: bold;
  font-size: 16px;
  color: #222222;
}

.card-offer .card-offer-address {
  color: $primarycolor;
  font-size: 14px;
}

.card-offer .card-offer-infos {
  padding: 14px;
  position: relative;
}

.card-offer .card-offer-infos-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 10px;
}

.card-offer-infos .card-offer-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  background-color: white;
}

.card-offer-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.card-offer-edit a{
  text-decoration: none;
}


.window {
  box-shadow: none;
}

.window > img {
  width: 100%;
  height: auto;
}

.tag {
  margin-left:10px !important;
  color: white;
  padding:2px 10px;
  border-radius: 5px;
  font-size: 10px;
}

.tag.future{
  background-color: #2379FB
}

.tag.present{
  background-color: #fdc921
}

.tag.past{
  background-color: #ED2249
}

.card-category {
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
