
.avatar-profile {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  padding: 15px;
}

.user-info ul {
  list-style: none;
  padding: 40px;
}

.card{
  box-shadow: 1px 3px 5px black;
  margin: 10px;
  height: 100vh;
}
