@import "colors";

.footer {
  display: flex;
  flex-shrink: 0;
  background-color: $primarycolor;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  color: white;
}
.footer a {
  color:white;
  text-decoration: none;
  &:hover {
    color:white;
    text-decoration: underline;
  }
}

.footer #button-addon1 {
  border-radius: 0px;
}
