.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link:hover{
  // padding: 4px;
  // transition: 0.5s;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: #051367;
}

.dropdown-item {
  color: #051367;
}

.navbar a {
  font-weight: 400;
}
